version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: пользователь
      POSTGRES_PASSWORD: пароль
      POSTGRES_DB: имя_базы
      PGDATA: /var/lib/postgresql/data/volume
    ports:
      - "5432:5432"
    volumes:
      - путь/до/вашего/volume:/var/lib/postgresql/data/volume
    restart: on-failure
    tty: true
    stdin_open: true

volumes:
  pgdata:
    driver: local