version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bank
      PGDATA: /var/lib/postgresql/data/volume
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/volume
    restart: on-failure
    tty: true
    stdin_open: true

volumes:
  pgdata:
    driver: local