api:
  version: ${API_VERSION:1}
spring:
  application:
    name: BankApplication
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  flyway:
    baseline-on-migrate: true
    locations: classpath:db/migration
    enabled: true
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: ${SHOW_SQL:false}
        use_sql_comments: ${SHOW_SQL:false}
        highlight_sql: ${SHOW_SQL:false}
        show_sql: ${SHOW_SQL:false}
        default_schema: ${DB_SCHEMA:public}

security:
  secretKey: ${SECURITY_SECRET_KEY}
  accessTokenExpirationMs: ${SECURITY_ACCESS_TOKEN_EXPIRATION}

server:
  servlet:
    context-path: /api/${api.version}
  port: ${BACKEND_PORT:8080}

logging:
  file:
    path: ./logs

